.task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    color: white;
  }
  
  .task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .task {
    
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  
  .task-title,
  .task-description,
  .task-deadline,
  .task-priority {
    color: white;
  }
  
  .task-actions {
    margin-top: 10px;
  }
  .color{
    color :black;
  }